* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.calc-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 150px;
    height: 100px;
    background-color: green;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: white;
}

.calc.disabled {
    background-color: red;
}

.value {
    margin: 0 15px;
}